*{ 
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
   color: white;
   font-family: 'Itim', cursive;
}
.container{
   width: 700px;
   background-color: #0e2f2f;
   margin-left: 450px;
   margin-top: 250px;
   border-radius: 10px;
   text-align: center;
}
h2 {
   font-weight: bolder;
   text-align: center;
   text-shadow: 2px 2px 1px rgb ( 91, 92, 95); 
   font-family: 'Itim', cursive;
   color: orangered;  
   margin-bottom: 30px;
}
#selectage{
   color:white;
   font-weight: bolder;
   word-spacing: 5px;
}
input{
  background-color: rgb(45, 45, 45);
  color: white;
  border-radius: 10px;
}
#calculateage{
   background-color: rgb(252, 176, 35);
  margin-top: 20px;
  font-weight: bolder;
  margin-right: 30px;
  border-radius: 10px;
  word-spacing: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
#reset{
   background-color: rgb(252, 176, 35);
   font-weight: bolder;
   text-align: center;
   border-radius: 10px;  
   word-spacing: 5px;
   padding-right: 10px;
   padding-left: 10px;
   
}
p{ 
   text-align: center;
   margin-top: 30px;
   font-weight: bolder;
}
.link{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.icon{ 
  margin-right: 20px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
#calculateage:hover{
  background-color: rgb(83,83,82);
}
#reset:hover{
  background-color: rgb(83,83,82);
  
}